@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
body {
    background-color:rgb(239, 160, 45);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    max-width: 1200px;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
    background-image: url('/images/7808cb16-01cf-4f16-9581-e71785591775.jpeg');
    
  }
  a{
    text-decoration: none;
    color: #5fb113af;
  }
  .navigationbar{
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 18px;
  }
.logo{
    margin:0px;
    padding: 0;
    
}
.header{
    display: flex;
   justify-content: space-between;
   
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    list-style: none;
    display: flex;
    padding: 100;
    margin-left: 400px;

    
}
nav ul li{
    padding-right: 10px;
    justify-content: space-between;
    margin-right: 50px;
    

}

.welcome{
    font-family: font-family: 'Roboto', sans-serif;

}

.submit{
    position: fixed;
    top: 2000;
    left: 300px;
}

.newsletter {
    width: 200px;
    height: auto;
    background-color: #C56C0F;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    position: fixed;
    top: 70px;
    right: 70px;
}
   .beachwalk{
    width: 1000px;
    height: auto;
   }